body {
  font-family: 'Roboto', sans-serif; }

header {
  border-bottom: 2px solid #d2d2d2; }

textarea:focus, input:focus {
  outline: none; }

.header-container {
  max-width: 1240px;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px; }
  .header-container .logo {
    text-align: center;
    margin-bottom: 20px; }

.menu-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center; }
  .menu-list .menu-list-item {
    margin: 0 10px; }
    .menu-list .menu-list-item .menu-list-item-link {
      color: #000000;
      text-decoration: none; }
      .menu-list .menu-list-item .menu-list-item-link:hover {
        color: #5a1a8f; }
  @media screen and (max-width: 767px) {
    .menu-list {
      display: none; } }

@media screen and (min-width: 767px) {
  .menu-mobile {
    display: none; } }

@media screen and (max-width: 767px) {
  .menu-mobile .menu-mobile-btn {
    display: block;
    top: 30px;
    left: 40px;
    margin: 1em;
    position: absolute;
    width: 45px;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    outline: none; }
    .menu-mobile .menu-mobile-btn:before, .menu-mobile .menu-mobile-btn:after {
      background-color: #000000;
      content: '';
      display: block;
      height: 4px;
      transition: all 200ms ease-in-out; }
    .menu-mobile .menu-mobile-btn:before {
      box-shadow: 0 10px 0 #000000;
      margin-bottom: 16px; }
    .menu-mobile .menu-mobile-btn:hover:before {
      box-shadow: 0 0 0 #000000;
      transform: translateY(10px) rotate(45deg); }
    .menu-mobile .menu-mobile-btn:hover:after {
      transform: translateY(-10px) rotate(-45deg); }
    .menu-mobile .menu-mobile-btn:hover .menu-mobile-list {
      display: block; }
    .menu-mobile .menu-mobile-btn .menu-mobile-list {
      display: none;
      position: absolute;
      top: 100%;
      max-width: 240px;
      background: #fff; }
      .menu-mobile .menu-mobile-btn .menu-mobile-list .menu-mobile-list-item {
        padding: 10px; }
        .menu-mobile .menu-mobile-btn .menu-mobile-list .menu-mobile-list-item a {
          text-decoration: none;
          color: #000000;
          font-size: 20px; }
          .menu-mobile .menu-mobile-btn .menu-mobile-list .menu-mobile-list-item a:hover {
            color: #5a1a8f; } }

.product-counter {
  position: absolute;
  right: 60px; }
  .product-counter img {
    display: inline-block; }
  .product-counter #cart-counter {
    position: absolute;
    top: 8px;
    left: 31px; }

.checkout-container {
  max-width: 1240px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  background: #f7f7f7; }
  .checkout-container .checkout-heading {
    width: 100%;
    text-align: center;
    padding: 20px 10px; }
  .checkout-container .checkout-col {
    width: 50%;
    padding: 0 40px;
    box-sizing: border-box; }
    @media screen and (max-width: 767px) {
      .checkout-container .checkout-col {
        width: 100%;
        padding: 20px;
        text-align: center; } }

#order-calculator {
  display: flex;
  justify-content: center;
  box-sizing: border-box; }
  #order-calculator > div {
    width: 100%; }

.product {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 20px; }
  .product .product-photo {
    max-width: 180px;
    margin-right: 10px; }
    .product .product-photo img {
      max-width: 120px; }

.product-description {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column; }
  .product-description h3 {
    margin-bottom: 10px; }
  .product-description .product-description-buttons {
    display: flex;
    margin-bottom: 10px; }
  .product-description .product-button-decrease {
    width: 30px;
    height: 30px;
    background: url("../img/icon-minus.svg") no-repeat;
    background-color: none;
    border: none;
    outline: none; }
  .product-description .product-button-increase {
    width: 30px;
    height: 30px;
    background: url("../img/icon-plus.svg") no-repeat;
    background-color: none;
    border: none;
    outline: none; }
  .product-description .product-description-counter {
    display: inline-block;
    position: relative;
    top: 3px;
    margin: 0 20px;
    left: -5px; }
  .product-description .product-description-price {
    width: 100%;
    display: flex;
    box-sizing: border-box; }
    .product-description .product-description-price .price {
      margin-left: auto; }

.product-summary {
  display: flex;
  flex-direction: column;
  margin-top: 20px; }
  .product-summary .product-summary-box {
    display: flex;
    margin: 10px 0; }
  .product-summary .product-summary-left {
    margin-left: auto; }
  .product-summary .product-summary-box--last {
    padding: 20px 0;
    border-top: 1px solid #d2d2d2; }

.checkout-form {
  width: 100%; }
  .checkout-form .checkout-headline {
    color: #000000;
    text-transform: uppercase;
    margin: 10px 5px 10px 0; }
  .checkout-form label {
    font-size: 10px;
    margin: 0 0 10px 5px;
    text-transform: uppercase; }
    .checkout-form label .dot {
      position: relative;
      top: -5px;
      width: 6px;
      height: 6px;
      border-radius: 6px;
      margin-left: 4px;
      margin-top: -3px;
      display: inline-block;
      background: red; }
  .checkout-form .checkout-form-input {
    margin: 5px 0 10px;
    max-width: 320px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    padding: 3px 8px; }
  .checkout-form .form-group {
    position: relative;
    width: 100%; }
    .checkout-form .form-group .form-error {
      position: absolute;
      color: red;
      margin-left: -70px;
      top: 35px; }
  .checkout-form .checkout-form-input:focus {
    border: 1px solid #5a1a8f; }
  .checkout-form .checkout-submit-button {
    background: #5a1a8f;
    max-width: 240px;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    box-radius: 20px;
    border: none;
    margin-bottom: 60px; }
  .checkout-form .checkout-submit-button:disabled {
    opacity: 0.3; }
  .checkout-form .select-wrapper {
    position: relative;
    max-width: 338px; }
    @media screen and (max-width: 767px) {
      .checkout-form .select-wrapper {
        margin: 0 auto; } }
    .checkout-form .select-wrapper .select-wrapper-ico {
      display: block;
      width: 39px;
      height: 39px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0px 6px 6px 0px;
      background: #000000;
      background-image: url("../img/icon-expand.svg");
      background-repeat: no-repeat;
      background-position: 4px 8px;
      fill: #fff; }
  .checkout-form select {
    position: relative;
    padding: 3px 8px;
    height: 30px;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #888;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    max-width: 338px;
    height: 40px;
    border: 1px solid #d2d2d2; }
  .checkout-form select:before {
    content: '\f0d7';
    font-family: FontAwesome;
    color: #fff;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 15px;
    pointer-events: none; }
