// Colors
$black: #000000;
$white: #fff;
$grey: #d2d2d2;
$violet: #5a1a8f;
$checkoutBackground: #f7f7f7;

//breakPoints
$break: 767px;

// Styles
body {
    font-family: 'Roboto', sans-serif;
}

// Header
header {
    border-bottom: 2px solid $grey;
}

textarea:focus, input:focus{
    outline: none;
}

.header-container {
    max-width: 1240px;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    .logo {
        text-align: center;
        margin-bottom: 20px;
    }
}

.menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    .menu-list-item {
        margin: 0 10px;
        .menu-list-item-link {
            color: $black;
            text-decoration: none;
            &:hover {
                color: $violet;
            }
        }
    }
    @media screen and (max-width: $break) {
        display: none;
    }
}

@media screen and (min-width: $break) {
    .menu-mobile {
        display: none;
    }
}
@media screen and (max-width: $break) {
    .menu-mobile {
        .menu-mobile-btn {
          display: block;
          top: 30px;
          left: 40px;
          margin: 1em;
          position: absolute;
          width: 45px;
          transform: translate(-50%,-50%);
          background: none;
          border: none;
          outline: none;
          &:before, &:after {
            background-color: $black;
            content: '';
            display: block;
            height: 4px;
            transition: all 200ms ease-in-out;
          }
          &:before {
              box-shadow: 0 10px 0 $black;
              margin-bottom: 16px;
          }
          &:hover:before {
              box-shadow: 0 0 0 $black;
              transform: translateY(10px) rotate(45deg);
          }
          &:hover:after {
              transform: translateY(-10px) rotate(-45deg);
          }
          &:hover .menu-mobile-list {
              display: block;
          }
          .menu-mobile-list {
              display: none;
              position: absolute;
              top: 100%;
              max-width: 240px;
              background: $white;
              .menu-mobile-list-item {
                  padding: 10px;
                  a {
                      text-decoration: none;
                      color: $black;
                      font-size: 20px;
                      &:hover {
                          color: $violet;
                      }
                  }
              }
          }
        }
    }
}

.product-counter {
    position: absolute;
    right: 60px;
    img {
        display: inline-block;
    }
    #cart-counter {
        position: absolute;
        top: 8px;
        left: 31px;
    }

}

// Checkout content
.checkout-container {
    max-width: 1240px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    background: $checkoutBackground;
    .checkout-heading {
        width: 100%;
        text-align: center;
        padding: 20px 10px;
    }
    .checkout-col {
        width: 50%;
        padding: 0 40px;
        box-sizing: border-box;
        @media screen and (max-width: $break) {
            width: 100%;
            padding: 20px;
            text-align: center;
        }
    }
}

#order-calculator {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    & > div {
        width: 100%;
    }

}

.product {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 20px;
    .product-photo {
        max-width: 180px;
        margin-right: 10px;
        img {
            max-width: 120px;
        }
    }
}

.product-description {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    h3 {
        margin-bottom: 10px;
    }
    .product-description-buttons {
        display: flex;
        margin-bottom: 10px;
    }
    .product-button-decrease {
        width: 30px;
        height: 30px;
        background: url('../img/icon-minus.svg') no-repeat;
        background-color: none;
        border: none;
        outline: none;
    }
    .product-button-increase {
        width: 30px;
        height: 30px;
        background: url('../img/icon-plus.svg') no-repeat;
        background-color: none;
        border: none;
        outline: none;
    }
    .product-description-counter {
        display: inline-block;
        position: relative;
        top: 3px;
        margin: 0 20px;
        left: -5px;
    }
    .product-description-price {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        .price {
            margin-left: auto;
        }
    }
}

.product-summary {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .product-summary-box {
        display: flex;
        margin: 10px 0;
    }
    .product-summary-left {
        margin-left: auto;
    }
    .product-summary-box--last {
        padding: 20px 0;
        border-top: 1px solid #d2d2d2;
    }
}

.checkout-form {
    width: 100%;
    .checkout-headline {
        color: $black;
        text-transform: uppercase;
        margin: 10px 5px 10px 0;
    }
    label {
        font-size: 10px;
        margin: 0 0 10px 5px;
        text-transform: uppercase;
        .dot {
            position: relative;
            top: -5px;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            margin-left: 4px;
            margin-top: -3px;
            display: inline-block;
            background: red;
        }
    }
    .checkout-form-input {
        margin: 5px 0 10px;
        max-width: 320px;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #d2d2d2;
        padding:3px 8px;

    }

    .form-group {
        position: relative;
        width: 100%;
        .form-error  {
            position: absolute;
            color: red;
            margin-left: -70px;
            top: 35px;
        }
    }

    .checkout-form-input:focus {
        border:1px solid $violet;
    }

    .checkout-submit-button {
        background: $violet;
        max-width: 240px;
        width: 100%;
        padding: 10px;
        color: $white;
        font-size: 16px;
        box-radius: 20px;
        border: none;
        margin-bottom: 60px;
    }

    .checkout-submit-button:disabled {
        opacity: 0.3;
    }
    .select-wrapper {
        position: relative;
        max-width: 338px;
        @media screen and (max-width: $break) {
            margin: 0 auto;
        }
        .select-wrapper-ico {
            display: block;
            width: 39px;
            height: 39px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0px 6px 6px 0px;
            background: $black;
            background-image: url('../img/icon-expand.svg');
            background-repeat: no-repeat;
            background-position: 4px 8px;
            fill: $white;
        }
    }
    select {
        position: relative;
        padding:3px 8px;
        height: 30px;
        margin: 0;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        background: $white;
        color:#888;
        border:none;
        outline:none;
        display: inline-block;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        cursor:pointer;
        width: 100%;
        max-width: 338px;
        height: 40px;
        border: 1px solid #d2d2d2;
    }

    select:before {
        content: '\f0d7';
        font-family: FontAwesome;
        color: $white;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 15px;
        pointer-events: none;
    }

}
